<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>index.html</title>
    </head>
    <body>
        <!--
            a1 요청
            링크를 클릭하는 것은 get방식의 요청이다
        -->
        <a href = "/a1">a1 get</a>
        <hr/>

        <!-- post방식 -->
        <form action="/a1" method = "post">
            <button type = "submit">a1 post</button>
        </form>
        <hr/>

        <a href = "/a2">a2 get</a>
        <hr/>

        <form action = "/a2" method="post">
            <button type = "submit">a2 post</button>
        </form>
        <hr/>

        <a href = "/a3">a3 get</a>
        <hr/>

        <form action = "/a3" method = "post">
            <button type = "submit">a3 post</button>
        </form>
    </body>
</html>